<!-- START FOOTER -->
<div class="container-fluid bg-primary rounded-4 px-5 pb-4 pt-5">
    <div class="row">
      <div class="col-12 col-lg-6">
        
        <div class="row">
          <div class="col-6 col-md-4 mb-3">
            <h5>España</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Inicio</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Jóvenes</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Adultos</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Trabajar y Estudiar</a></li>
              <li class="nav-item mb-2 d-flex">
                <a href="#" class="nav-link ps-0 text-body-secondary"><i class="bi bi-facebook"></i></a>
                <a href="#" class="nav-link text-body-secondary"><i class="bi bi-instagram"></i></a>
                <a href="#" class="nav-link text-body-secondary"><i class="bi bi-whatsapp"></i></a>
                <a href="#" class="nav-link text-body-secondary"><i class="bi bi-envelope"></i></a>
              </li> 
            </ul>
          </div>
  
          <div class="col-6 col-md-4 mb-3">
            <h5>Uruguay</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Inicio</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Jóvenes</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Adultos</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Trabajar y Estudiar</a></li>
              <li class="nav-item mb-2 d-flex">
                <a href="#" class="nav-link ps-0 text-body-secondary"><i class="bi bi-facebook"></i></a>
                <a href="#" class="nav-link text-body-secondary"><i class="bi bi-instagram"></i></a>
                <a href="#" class="nav-link text-body-secondary"><i class="bi bi-whatsapp"></i></a>
                <a href="#" class="nav-link text-body-secondary"><i class="bi bi-envelope"></i></a>
              </li>
            </ul>
          </div>
  
          <div class="col-6 col-md-4 mb-3">
            <h5>Argentina</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Inicio</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Jóvenes</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Adultos</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Trabajar y Estudiar</a></li>
              <li class="nav-item mb-2 d-flex">
                <a href="#" class="nav-link ps-0 text-body-secondary"><i class="bi bi-facebook"></i></a>
                <a href="#" class="nav-link text-body-secondary"><i class="bi bi-instagram"></i></a>
                <a href="#" class="nav-link text-body-secondary"><i class="bi bi-whatsapp"></i></a>
                <a href="#" class="nav-link text-body-secondary"><i class="bi bi-envelope"></i></a>
              </li>
            </ul>
          </div>
  
          <div class="col-6 col-md-4 mb-3">
            <h5>Chile</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Inicio</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Jóvenes</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Adultos</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Trabajar y Estudiar</a></li>
              <li class="nav-item mb-2 d-flex">
                <a href="#" class="nav-link ps-0 text-body-secondary"><i class="bi bi-facebook"></i></a>
                <a href="#" class="nav-link text-body-secondary"><i class="bi bi-instagram"></i></a>
                <a href="#" class="nav-link text-body-secondary"><i class="bi bi-whatsapp"></i></a>
                <a href="#" class="nav-link text-body-secondary"><i class="bi bi-envelope"></i></a>
              </li>
            </ul>
          </div>
          <div class="col-6 col-md-4 mb-3">
            <h5>México</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Inicio</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Jóvenes</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Adultos</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Trabajar y Estudiar</a></li>
              <li class="nav-item mb-2 d-flex">
                <a href="#" class="nav-link ps-0 text-body-secondary"><i class="bi bi-facebook"></i></a>
                <a href="#" class="nav-link text-body-secondary"><i class="bi bi-instagram"></i></a>
                <a href="#" class="nav-link text-body-secondary"><i class="bi bi-whatsapp"></i></a>
                <a href="#" class="nav-link text-body-secondary"><i class="bi bi-envelope"></i></a>
              </li>
            </ul>
          </div>
          <div class="col-6 col-md-4 mb-3">
            <h5>Italia</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Inicio</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Jóvenes</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Adultos</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Trabajar y Estudiar</a></li>
              <li class="nav-item mb-2 d-flex">
                <a href="#" class="nav-link ps-0 text-body-secondary"><i class="bi bi-facebook"></i></a>
                <a href="#" class="nav-link text-body-secondary"><i class="bi bi-instagram"></i></a>
                <a href="#" class="nav-link text-body-secondary"><i class="bi bi-whatsapp"></i></a>
                <a href="#" class="nav-link text-body-secondary"><i class="bi bi-envelope"></i></a>
              </li> 
            </ul>
          </div>
        
        </div> <!-- END ROW  -->
  
    </div> <!--END MAIN COLUMN -->
  
    <div class="col-12 col-lg-6 mb-3">
      <form>
        <h5>Subscribete a nuestro newsletter</h5>
        <p>Monthly digest of what's new and exciting from us.</p>
        <div class="d-flex flex-column flex-sm-row w-100 gap-2">
          <label for="newsletter1" class="visually-hidden">Correo electronico</label>
          <input id="newsletter1" type="text" class="form-control" placeholder="Correo electrónico">
          <button class="btn btn-primary" type="button">Subscrirme</button>
        </div>
      </form>
    </div>
  
  
  </div> <!--END MAIN ROW -->
  
          
    <div class="d-flex flex-column flex-sm-row justify-content-between pt-4 mt-4 border-top">
      <p>&copy; 2024 Global Studies Education, Ltd. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
      </ul>
    </div>
  
</div> 
  <!-- /END FOOTER -->