<!-- START TOP NAVBAR -->
<nav id="top-navbar" class="navbar navbar-expand-lg bg-primary rounded-4 d-none d-md-block" style="">
    <div class="container-fluid px-4 py-1">
        <a class="navbar-brand fw-bold" href="#">GLOBAL STUDIES</a>
        <div class="collapse navbar-collapse" id="">
        <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" style="color:white; font-size:14px;"><i class="bi bi-telephone-fill"></i> 598 2623-0556</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#" style="color:white; font-size:14px;"><span class=""><i class="bi bi-envelope" style="color:white; font-size:16px;"></i></span> info@globalstudies.es</a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true"><i class="bi bi-facebook"></i></a>
            </li>
            <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true"><i class="bi bi-instagram"></i></a>
            </li>
            <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true"><i class="bi bi-whatsapp"></i></a>
            </li>
        </ul>
        </div>
    </div>
</nav>
<!-- /END TOP NAVBAR -->