{% extends "admin/change_form.html" %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
<script type="text/javascript" src="{% static 'smart-selects/admin/js/chainedm2m.js' %}"></script>
<script type="text/javascript" src="{% static 'smart-selects/admin/js/autochained.js' %}"></script>
{% endblock %}

<h2>asdfasdfasdfasdf</h2><h2>asdfasdfasdfasdf</h2><h2>asdfasdfasdfasdf</h2>
<h2>asdfasdfasdfasdf</h2>
<h2>asdfasdfasdfasdf</h2>
<h2>asdfasdfasdfasdf</h2>
<h2>asdfasdfasdfasdf</h2>
<h2>asdfasdfasdfasdf</h2>
<h2>asdfasdfasdfasdf</h2>
<h2>asdfasdfasdfasdf</h2>
<h2>asdfasdfasdfasdf</h2>
<h2>asdfasdfasdfasdf</h2>
<h2>asdfasdfasdfasdf</h2>
