{% extends "admin/base_site.html" %}
{% load widget_tweaks %}

{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
    <script src="{% url 'admin:jsi18n' %}"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/smart-selects/admin/js/chainedfk.js"></script>
    <script src="/static/smart-selects/admin/js/bindfields.js"></script> -->
    <!-- <style>[x-cloak]{display:none}</style> -->
    <!-- Include the Alpine library on your page -->
    <!-- <script src="https://unpkg.com/alpinejs" defer></script> -->
    <!-- Include the TailwindCSS library on your page -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- {{ media }} -->
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="px-4 lg:px-12">
            <div class="container mb-6 mx-auto -my-3 lg:mb-12">
                <ul class="flex">
                    {% url 'admin:index' as link %}
                    {% trans 'Home' as name %}
                    {% include 'unfold/helpers/breadcrumb_item.html' with link=link name=name %}

                    {% url 'admin:app_list' app_label=opts.app_label as link %}
                    {% include 'unfold/helpers/breadcrumb_item.html' with link=link name=opts.app_config.verbose_name %}

                    {% if has_view_permission %}
                        {% url opts|admin_urlname:'changelist' as link %}
                        {% include 'unfold/helpers/breadcrumb_item.html' with link=link  name=opts.verbose_name_plural|capfirst %}
                    {% else %}
                        {% include 'unfold/helpers/breadcrumb_item.html' with link='' name=opts.verbose_name_plural|capfirst %}
                    {% endif %}

                    {% if add %}
                        {% blocktranslate trimmed with name=opts.verbose_name asvar breadcrumb_name %}
                            Add {{ name }}
                        {% endblocktranslate %}

                        {% include 'unfold/helpers/breadcrumb_item.html' with link='' name=breadcrumb_name %}
                    {% else %}
                        {% include 'unfold/helpers/breadcrumb_item.html' with link='' name=original|truncatewords:'18' %}
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endblock %}
{% endif %}

{% block nav-global %}{% spaceless %}
    {% if change and not is_popup %}
        {% block object-tools-items %}
            {% change_form_object_tools %}
        {% endblock %}
    {% endif %}
{% endspaceless %}{% endblock %}

{% block nav-global-side %}
    {% if has_add_permission %}
        {% include "unfold/helpers/add_link.html" %}
    {% endif %}
{% endblock %}

{% block content %}
    <div id="content-main">
        {% block form_before %}{% endblock %}


        <h2 class="bg-gray-100 border border-transparent font-semibold mb-6 px-4 py-3 rounded-md text-gray-700 text-sm lg:-mx-4 dark:bg-white/[.02] dark:border dark:border-gray-800 dark:text-gray-200">
            Edit Quotation
        </h2>

        <form method="post" enctype="multipart/form-data" class="space-y-8">
            {% csrf_token %}
            
            <!-- Grid Container for Two-Column Layout -->
            <div class="grid grid-cols-1 md:grid-cols-12 gap-6">
        
                <!-- Left Column: Form Fields --> 
                <div class="md:col-span-5 space-y-6" id="left-column" 
                    hx-post="{% url 'update_quotation' quotation.id %}" 
                    hx-trigger="change" 
                    hx-target="#quotation" 
                    hx-swap="innerHTML">
                    
                    <!-- Student Field -->
                    <div>
                        <label for="{{ form.student.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-2">Student</label>
                        {{ form.student }}
                    </div>
        
                    <!-- Enquiry Field -->
                    <!-- <div> -->
                        <!-- <label for="{{ form.enquiry.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-2">Enquiry</label> -->
                        <!-- {{ form.enquiry }} -->
                    <!-- </div> -->
        
                    <!-- City Field -->
                    <div>
                        <label for="{{ form.city.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-2">City</label>
                        {{ form.city }}
                    </div>
        
                    <!-- JUST A DIV  ONLY TO HANDLE ONLOAD FOR SCHOOL FIELD (COULD BE ANOTHER) -->
                    <div style="display: none;"
                        hx-post="{% url 'get_courses_by_school' quotation.id %}?trigger=load" 
                        hx-target="#id_course" 
                        hx-trigger="load"
                        hx-swap="innerHTML">
                    </div>

                    <!-- School Field  -->
                    <div 
                        hx-post="{% url 'get_courses_by_school' quotation.id %}?trigger=change" 
                        hx-target="#id_course" 
                        hx-trigger="change"
                        hx-swap="innerHTML">
                    <label for="{{ form.school.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-2">School</label>
                    {{ form.school }}
                    </div>

                    <!-- Course Field -->
                    <div 
                        hx-post="{% url 'get_price_lists_by_course' quotation.id %}" 
                        hx-target="#id_course_price_list" 
                        hx-trigger="load, change, change from:#id_school"
                        hx-swap="innerHTML">
                    <label for="{{ form.course.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-2">Course</label>
                    {{ form.course }}
                    </div>

                    <!-- Course Price List Field -->
                    <div 
                        hx-post="{% url 'get_course_prices_by_price_list' quotation.id %}" 
                        hx-target="#id_course_qty_weeks"
                        hx-trigger="load, change"
                        hx-swap="innerHTML">
                    <label for="{{ form.course_price_list.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-2">Course Price List</label>
                    {{ form.course_price_list }}
                    </div>

        
                    <!-- Course Qty Weeks Field -->
                    <div>
                        <label for="{{ form.course_qty_weeks.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-2">Course Quantity Weeks</label>
                        {{ form.course_qty_weeks }}
                    </div>
        
                    <!-- Course Date Start Field -->
                    <div>
                        <label for="{{ form.course_date_start.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-2">Course Date Start</label>
                        {{ form.course_date_start }}
                    </div>
        
                    <!-- Course Date Finish Field -->
                    <div>
                        <label for="{{ form.course_date_finish.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-2">Course Date Finish</label>
                        {% render_field form.course_date_finish %}
                    </div>
        
                    <!-- Enrollment Fee Field -->
                    <!-- <div>
                        <label for="{{ form.enrollment_fee.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-2">Enrollment Fee</label>
                        {% render_field form.enrollment_fee %}
                    </div> -->
        
                    <!-- Course Weekly Price Field -->
                    <!-- <div>
                        <label for="{{ form.course_weekly_price.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-2">Course Weekly Price</label>
                        {% render_field form.course_weekly_price %}
                    </div> -->
        
                    <!-- Accommodation Field -->
                    <div>
                        <label for="{{ form.accommodation.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-2">Accommodation</label>
                        {% render_field form.accommodation %}
                    </div>
        
                    <!-- Accommodation Price List Field -->
                    <div>
                        <label for="{{ form.accommodation_price_list.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-2">Accommodation Price List</label>
                        {% render_field form.accommodation_price_list %}
                    </div>
        
                    <!-- Accommodation Qty Weeks Field -->
                    <div>
                        <label for="{{ form.accommodation_qty_weeks.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-2">Accommodation Quantity Weeks</label>
                        {% render_field form.accommodation_qty_weeks %}
                    </div>
        
                    <!-- Accommodation Date Start Field -->
                    <div>
                        <label for="{{ form.accommodation_date_start.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-2">Accommodation Date Start</label>
                        {% render_field form.accommodation_date_start  %}
                    </div>
        
                    <!-- Accommodation Date Finish Field -->
                    <div>
                        <label for="{{ form.accommodation_date_finish.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-2">Accommodation Date Finish</label>
                        {% render_field form.accommodation_date_finish %}
                    </div>
        
                    <!-- Airport Transfer Field -->
                    <div>
                        <label for="{{ form.airport_transfer.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-2">Airport Transfer</label>
                        {% render_field form.airport_transfer %}
                    </div>
        
                    <!-- School Total Field -->
                    <!-- <div>
                        <label for="{{ form.school_total.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-2">School Total</label>
                        {% render_field form.school_total %}
                    </div> -->
        
                    <!-- Accommodation Total Field -->
                    <!-- <div>
                        <label for="{{ form.accommodation_total.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-2">Accommodation Total</label>
                        {% render_field form.accommodation_total %}
                    </div> -->
        
                    <!-- Airport Transfer Total Field -->
                    <!-- <div>
                        <label for="{{ form.airport_transfer_total.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-2">Airport Transfer Total</label>
                        {% render_field form.airport_transfer_total class="mt-1 p-3 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %}
                    </div> -->
        
                    <!-- Total Field -->
                    <!-- <div>
                        <label for="{{ form.total.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-2">Total</label>
                        {% render_field form.total %}
                    </div> -->
        
                    <!-- Created At Field (Optional) -->
                    <!-- <div>
                        <label for="{{ form.created_at.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-2">Created At</label>
                        {% render_field form.created_at %}
                    </div> -->
        
                    <!-- Branch Field -->
                    <!-- <div>
                        <label for="{{ form.branch.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-2">Branch</label>
                        {% render_field form.branch %}
                    </div> -->
        
                    <!-- Employee Field -->
                    <!-- <div>
                        <label for="{{ form.employee.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-2">Employee</label>
                        {% render_field form.employee %}
                    </div> -->
        
                    <!-- Status Field -->
                    <div>
                        <label for="{{ form.status.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-2">Status</label>
                        {% render_field form.status %}
                    </div>
                </div>
        
                <!-- Right Column: Quotation Content -->
                <div class="p-8 bg-white border border-gray-300 rounded-lg shadow-md md:col-span-7" id="quotation">
                    <!-- Logo and Quotation Header -->
                    <div class="flex justify-between items-center mb-8">
                        <img src="" alt="Logo" class="h-12">
                        <div class="text-right">
                            <h2 class="text-2xl font-bold text-gray-800">Presupuesto #{{ quotation.id }}</h2>
                            <p class="text-sm text-gray-600">Fecha emisión: {{ quotation.created_at }}</p>
                            <p class="text-sm text-gray-600">{{ quotation.status|capfirst }}</p>
                        </div>
                    </div>
                
                    <!-- Student Information -->
                    <div class="mb-6">
                        <h3 class="text-lg font-semibold text-gray-800">Información del Estudiante</h3>
                        <div class="mt-2">
                            <p class="text-sm text-gray-700"><span class="font-medium">Nombre:</span> {{ quotation.student }}</p>
                        </div>
                    </div>
                
                    <!-- Items Table -->
                    <div class="mb-6">
                        <h3 class="text-lg font-semibold text-gray-800 mb-4">Detalles del Presupuesto</h3>
                        <div class="border border-gray-200 rounded-lg overflow-hidden">
                            <table class="min-w-full divide-y divide-gray-200">
                                <thead class="bg-gray-100">
                                    <tr>
                                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Descripción</th>
                                        <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">Cantidad</th>
                                        <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">Precio</th>
                                        <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">Total</th>
                                    </tr>
                                </thead>
                                <tbody class="bg-white divide-y divide-gray-200">
                                    <tr>
                                        <td class="px-6 py-4 text-sm text-gray-700">Matricula</td>
                                        <td class="px-6 py-4 text-sm text-right text-gray-700">1</td>
                                        <td class="px-6 py-4 text-sm text-right text-gray-700">{{ quotation.enrollment_fee }}</td>
                                        <td class="px-6 py-4 text-sm text-right text-gray-700">{{ quotation.enrollment_fee }}</td>
                                    </tr>
                                    <tr>
                                        <td class="px-6 py-4 text-sm text-gray-700">
                                            <p>Escuela: {{ quotation.school }}</p> 
                                            <p>Curso: {{ quotation.course }}</p>
                                            <p>Fecha inicio: {{ quotation.course_date_start }}</p>
                                            <p>Fecha finalización: {{ quotation.course_date_finish }}</p>
                                        </td>
                                        <td class="px-6 py-4 text-sm text-right text-gray-700">{{ quotation.course_qty_weeks }}</td>
                                        <td class="px-6 py-4 text-sm text-right text-gray-700">{{ quotation.course_qty_weeks.week_price_ls }}</td>
                                        <td class="px-6 py-4 text-sm text-right text-gray-700">${{ quotation.school_total }}</td>
                                    </tr>
                                    <tr>
                                        <td class="px-6 py-4 text-sm text-gray-700">{{ quotation.accommodation }}
                                            <p>Fecha inicio: {{ quotation.accommodation_date_start }}</p>
                                            <p>Fecha finalización: {{ quotation.accommodation_date_finish }}</p>
                                          </td>
                                        <td class="px-6 py-4 text-sm text-right text-gray-700">{{ quotation.accommodation_qty_weeks }}</td>
                                        <td class="px-6 py-4 text-sm text-right text-gray-700">{{ quotation.accommodation_qty_weeks.week_price_ls }}</td>
                                        <td class="px-6 py-4 text-sm text-right text-gray-700">{{ quotation.accommodation_total }}</td>
                                    </tr>
                                    <tr>
                                        <td class="px-6 py-4 text-sm text-gray-700">{{ quotation.airport_transfer }}</td>
                                        <td class="px-6 py-4 text-sm text-right text-gray-700">{{ quotation.airport_transfer.trip }}</td>
                                        <td class="px-6 py-4 text-sm text-right text-gray-700">{{ quotation.airport_transfer_total }}</td>
                                        <td class="px-6 py-4 text-sm text-right text-gray-700">{{ quotation.airport_transfer_total }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                
                    <!-- Summary -->
                    <div class="mt-8">
                        <div class="flex justify-between mb-2">
                            <span class="text-sm font-medium text-gray-800">Subtotal:</span>
                            <span class="text-sm text-gray-800">{{ quotation.total }}</span>
                        </div>
                        <div class="flex justify-between mb-2">
                            <span class="text-sm font-medium text-gray-800">Tax (0%):</span>
                            <span class="text-sm text-gray-800">$0.00</span>
                        </div>
                        <div class="flex justify-between font-bold text-gray-800">
                            <span class="text-sm">Total:</span>
                            <span class="text-sm">{{ quotation.total }}</span>
                        </div>
                    </div>
                </div>
                
            <!-- END Grid Container for Two-Column Layout -->

   
            <!-- Submit Button -->
            {% block submit_buttons_bottom %}{% submit_row %}{% endblock %}


        </form>
        


        {% block form_after %}{% endblock %}
    </div>


<!-- JavaScript to set select fields to the first option -->
<script>
    // Function to get the CSRF token from the cookies
    function getCSRFToken() {
        let csrfToken = null;
        const cookies = document.cookie.split(';');
        cookies.forEach(cookie => {
            const [name, value] = cookie.trim().split('=');
            if (name === 'csrftoken') {
                csrfToken = value;
            }
        });
        return csrfToken;
    }

    // Function to set select fields to the first option
    function setToFirstOption(...fieldIds) {
        fieldIds.forEach(function(fieldId) {
            const field = document.querySelector(fieldId);
            if (field && field.options.length > 0) {
                field.selectedIndex = 0; // Set the select field to the first option
            }
        });
    }

    // Handle the change event for the #id_school field
    function handleSchoolChange() {
        // Reset the related fields to the first option
        setToFirstOption('#id_course', '#id_course_price_list', '#id_course_qty_weeks',
            '#id_accommodation', '#id_accommodation_price_list', '#id_accommodation_qty_weeks',
            '#id_airport_transfer'); 

        // Trigger the request to update the #id_course_qty_weeks field with CSRF token
        htmx.ajax('POST', "{% url 'get_course_prices_by_price_list' quotation.id %}", {
            target: "#id_course_qty_weeks",
            swap: "innerHTML",
            headers: {
                'X-CSRFToken': getCSRFToken()  // Add CSRF token to the request header
            }
        });
    }

    // Handle the change event for the #id_course field
    function handleCourseChange() {
        // Reset the course weeks field
        setToFirstOption('#id_course_qty_weeks');
        
        // Trigger the request to update the #id_course_qty_weeks field with CSRF token
        htmx.ajax('POST', "{% url 'get_course_prices_by_price_list' quotation.id %}", {
            target: "#id_course_qty_weeks",
            swap: "innerHTML",
            headers: {
                'X-CSRFToken': getCSRFToken()  // Add CSRF token to the request header
            }
        });
    }

    // Attach event listeners to #id_school and #id_course fields
    document.querySelector('#id_school').addEventListener('change', handleSchoolChange);
    document.querySelector('#id_course').addEventListener('change', handleCourseChange);
</script>






{% endblock %}






