<header class="mb-5">
  <div class="row gx-2"> <!-- START ROW -->
    <div class="col-12 col-lg-8">
      <div id="carouselExampleCaptions" class="carousel slide carousel-fade mt-1" data-bs-ride="carousel">
        <div class="carousel-indicators bg-primary">
          {% for program in header_hero_section %}
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}" aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
          {% endfor %}
        </div>
        <div class="carousel-inner rounded-start-4">
          {% for program in header_hero_section %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <img src="{{ program.img.url }}" class="d-block w-100 p-0" alt="{{ program.title }}" style="object-fit: cover; height: 100%; width: 100%;">
              <div class="carousel-caption d-none d-md-block text-start">
                <h5 class="display-6 fw-bold">{{ program.title }}</h5>
                <p class="lead">{{ program.sub_title }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" style="width:80px;" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" style="width:80px;" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="col-12 col-lg-4 bg-body-tertiary rounded-end-4 h-100 mt-1" style="height:635px !important;">
      {% for program in header_hero_section %}
        <div class="container-fluid bg-primary rounded-end-4 d-flex flex-column justify-content-end {% if not forloop.first %}mt-2{% endif %}" style="height:33.33%; background-image: url('{{ program.img.url }}'); background-size: cover; background-position: center;">
          <h2 class="fw-bold text-white">{{ program.title }}</h2>
          <p class="text-white">{{ program.sub_title }}</p>
        </div>
      {% endfor %}
    </div>
  </div> <!-- /END ROW -->
</header>