<div class="container px-4 mb-5" id="custom-cards">
  <h2 class="fw-bold pb-3 border-bottom">Programas destacados</h2>
  <section class="py-5">
    <div class="">
      <div class="row">
        <div class="col-12 col-lg-12">
          <div class="row g-2">
            {% for program in featured_programs_section %}
              {% if forloop.first %}
                <div class="col-12 col-lg-8">
              {% elif forloop.counter == 2 %}
                <div class="col-12 col-lg-4">
              {% elif forloop.counter == 3 %}
                <div class="col-12 col-lg-4">
              {% else %}
                <div class="col-12 col-lg-8">
              {% endif %}
                <a href="#" class="text-decoration-none">
                  <div class="d-flex flex-column justify-content-end bg-dark text-white p-4 rounded-4 {% if forloop.first or forloop.counter == 3 %}rounded-start-lg-4{% else %}rounded-end-lg-4{% endif %} bg-opacity-50"
                  style="height: 360px; background: url('{{ program.img.url }}') center/cover no-repeat;">
                    <h2 class="fw-bold">{{ program.title }}</h2>
                    <p>{{ program.sub_title }}</p>
                  </div>
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
