{% load static %}

<div class="container px-4 mb-5" id="custom-cards">
  <h2 class="fw-bold pb-3 border-bottom">Programas destacados</h2>
  <section class="py-5">
    <div class="">
      <div class="row">
        <div class="col-12 col-lg-12">
          <div class="row g-2">
            <div class="col-12 col-lg-8">
              <a href="#" class="text-decoration-none">
                <div class="d-flex flex-column justify-content-end bg-dark text-white p-4 rounded-4 rounded-start-lg-4 bg-opacity-50" style="height: 360px; background: url('{% static 'home/img/students-2.jpg' %}') center/cover no-repeat;">
                  <h2 class="fw-bold">Inglés para Adultos +17</h2>
                  <p>Beautiful harbor city in Australia</p>
                </div>
              </a>
            </div>
            <div class="col-12 col-lg-4">
              <a href="#" class="text-decoration-none">
                <div class="d-flex flex-column justify-content-end bg-dark text-white p-4 rounded-4 rounded-end-lg-4 bg-opacity-50"
                style="height: 360px; background: url('{% static 'home/img/students-2.jpg' %}') center/cover no-repeat;">
                  <h2 class="fw-bold">Bournemouth 2025</h2>
                  <p>Historic capital of England</p>
                </div>
              </a>
            </div>
            <div class="col-12 col-lg-4">
                <a href="#" class="text-decoration-none">
                    <div class="d-flex flex-column justify-content-end bg-dark text-white p-4 rounded-4 rounded-start-lg-4 bg-opacity-50"
                          style="height: 360px; background: url('{% static 'home/img/students-2.jpg' %}') center/cover no-repeat;">
                        <h2 class="fw-bold">Adultos +30</h2>
                        <p>The city that never sleeps</p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-8">
              <a href="#" class="text-decoration-none">
                <div class="d-flex flex-column justify-content-end bg-dark text-white p-4 rounded-4 rounded-end-lg-4 bg-opacity-50"
                style="height: 360px; background: url('{% static 'home/img/students-2.jpg' %}') center/cover no-repeat;">
                  <h2 class="fw-bold">Work and Study Australia</h2>
                  <p>Iconic city by the bay</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>