<div class="container px-4 py-5">
  <h2 class="fw-bold pb-2 border-bottom">Porque elegir Glogal Studies</h2>
</div>

<div class="container px-4 text-center">
    <div class="row g-2">
        <div class="col-lg-3 col-md-6">
            <div class="border p-4 rounded-start-4">
              <i class="bi bi-fire bg-primary"></i>
              <h3 class="fs-3">Más de 30 años de experiencia</h3>
              <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="border p-4">
              <i class="bi bi-fire bg-primary"></i>
              <h3 class="fs-3">Más de 30 años de experiencia</h3>
              <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="border p-4">
              <i class="bi bi-fire bg-primary"></i>
              <h3 class="fs-3">Más de 30 años de experiencia</h3>
              <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="border p-4 rounded-end-4">
              <i class="bi bi-fire bg-primary"></i>
              <h3 class="fs-3">Más de 30 años de experiencia</h3>
              <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
            </div>
        </div>
    </div>
</div>