{% extends "base.html" %}

{% block content %}
    
<!-- Include the _hero partial -->
{% include 'programs/partials/_hero_program.html' %}

<!-- Include the _results partial -->   


 <section class="details mt-5">
  <div class="container py-4">
    <div class="row">
      <!-- Main Content Column -->
      <div class="col-lg-8">
        <!-- DESCRIPTION -->
        <div class="container pb-4">
          <h3>Descripción</h3>
          <hr>
          <div class="mb-4">
            <p>{{ experience.description }}</p>
          </div>
        </div>
        <!-- END DESCRIPTION -->

        <!-- DESCRIPTION -->
        <div class="container pb-4">
          <h3>Detalles de la experiencia</h3>
          <hr>
          <div class="mb-4">
            <p class="fw-bold mb-2">Experiencia:</p>
            <p>{{ experience.name }}</p>
          </div>
          <div class="mb-4">
            <p class="fw-bold mb-2">Ubicacion:</p>
            <p>{{ experience.city }}</p>
          </div>
          <div class="mb-4">
            <p class="fw-bold mb-2">Duración:</p>
            <p>{{ experience.duration_from_weeks }} to {{ experience.duration_to_weeks }} weeks</p>
          </div>
          <div class="mb-4">
            <p class="fw-bold mb-2">Permite trabajar:</p>
            <p>
              {% if experience.allows_work == 'yes' %}
                <span class="text-success">Yes</span>
              {% else %}
                <span class="text-danger">No</span>
              {% endif %}
            </p>
          </div>
        </div>
        <!-- END DESCRIPTION -->


        <!-- COURSE DETAILS -->
        <div class="container pb-4">
          <h3>Detalles de Curso</h3>
          <hr>
          <div class="mb-4">
            <p class="fw-bold mb-2">Tipo de Curso:</p>
            <p>{{ experience.course.name }}</p>
          </div>
          <div class="mb-4">
            <p class="fw-bold mb-2">Nombre del curso:</p>
            <p>{{ experience.course.name }}</p>
          </div>
          <div class="mb-4">
            <p class="fw-bold mb-2">Descripcion del curso:</p>
            <p>{{ experience.course.description }}</p>
          </div>
        </div>
        <!-- END COURSE DETAILS -->

        <!-- ADDITIONAL INFORMATION -->
        <div class="container pb-4">
          <h3>Informacion adicional</h3>
          <hr>
          <div class="mb-4">
            <p class="fw-bold mb-2">Minimum Age:</p>
            <p>{{ experience.min_age }}</p>
          </div>
          <div class="mb-4">
            <p class="fw-bold mb-2">Maximum Age:</p>
            <p>{{ experience.max_age }}</p>
          </div>
          <div class="mb-4">
            <p class="fw-bold mb-2">Price:</p>
            <p>{{ experience.price }}</p>
          </div>
        </div> <!-- END ADDITIONAL INFORMATION -->

        <!-- INCLUDES AND REQUIREMENTS -->
        <div class="container pb-4">
          <h3>Incluidos y requerimientos</h3>
          <hr>
          <div class="mb-4">
            <p class="fw-bold mb-2">Includes:</p>
            <ul class="list-unstyled">
              {% for include in experience.includes.all %}
              <li>{{ include }}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="mb-4">
            <p class="fw-bold mb-2">Requirements:</p>
            <ul class="list-unstyled">
              {% for requirement in experience.requirements.all %}
              <li>{{ requirement }}</li>
              {% endfor %}
            </ul>
          </div>
        </div> <!-- END INCLUDES AND REQUIREMENTS -->

        <!-- FAQ -->
        <div class="container pb-4">
          <h3>FAQ</h3>
          <hr>
          <div class="accordion pb-4" id="accordionExample">
            {% for faq in faqs %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-{{ forloop.counter }}" aria-expanded="true"
                        aria-controls="collapse-{{ forloop.counter }}">
                        <strong>{{ faq.question }}</strong>
                        <!-- <span class="ms-2"> | {{ course.hours_per_week }} lecciones por semana</span> -->
                    </button>
                </h2>
                <div id="collapse-{{ forloop.counter }}" class="accordion-collapse collapse"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>{{ faq.answer }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        </div>
        <!-- FAQ -->

      </div>

      <!-- Sidebar Column -->
      <div class="col-lg-4">
        <h3>Consulta</h3>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Submit Inquiry</button>
        </form>
      </div>
      <!-- End Sidebar Column -->
    </div>
  </div>
</section>




      
{% endblock %}
